.Ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(190, 136, 136);
  }
  
  .Li {
    float: left;
  }
  
   .A {
    display: block;
    color: rgb(241, 223, 223);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .Li a:hover {
    background-color: #111;
  }

.Titulo{
  color: rgb(148, 132, 132);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}